.App {
  text-align: center;
  height: 100vh; /* Adiciona altura total da viewport */
  background-color: #282c34; /* Define cor de fundo */
  color: white; /* Define cor do texto */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    border-radius: 10%;
  }
} 

.App-header {
  min-height: 100vh; /* Define altura mínima para ocupar toda a viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 40px; /* Adiciona espaço interno */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.estoque-final {
  background-color: #fff; 
  color: #000; 
  text-align: center; 
  padding: 10px; 
  border-radius: 7px; 
  font-size: 24px; 
  font-weight: bold; 
}
